<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <section>
      <div class="container-fluid p-5 mt-5">
        <div class="card card-sh1">
          <div class="card-header text-center">
            <div class="d-flex justify-content-left">
              <div>
                <a href="/admin/" class="btn btn-primary text-center mt-2 mb-1"
                  >DashBoard</a
                >
                <a
                  href="/admin/addProduct"
                  class="btn btn-success text-center ms-1 mt-2 mb-1"
                  >Add Product</a
                >
              </div>
              <p
                class="fs-2 mb-0 mx-auto position-absolute start-50 translate-middle-x"
              >
                Products
              </p>
            </div>
            

            <!-- Success Message -->
            <th:block th:if="${session.successMsg}">
              <p class="text-danger fw-bold">[[${session.successMsg}]]</p>
              <th:block
                th:text="${@commonServiceIMPL.removeSessionMessage()}"
              ></th:block>
            </th:block>

            <!-- Error Message -->
            <th:block th:if="${session.errorMsg}">
              <p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
              <th:block
                th:text="${@commonServiceIMPL.removeSessionMessage()}"
              ></th:block>
            </th:block>
          </div>


          <form action="/admin/viewProducts" method="get">
            <div class="row  mt-4 mb-3 ms-3 ">
              <div class="col-md-4 offset-md-3">
                <input type="text" class="form-control" name="ch" required placeholder="Product Name or Category" />
              </div>
              <div class="col">
                <button class="btn btn-success me-2">Search Product</button>
                <th:block th:if="${search}">
                  <a href="/admin/viewProducts" class="btn btn-primary">View All Orders</a>
                </th:block>
              </div>
    
              
    
              
    
            </div>
    
          </form>
          <div class="card-body">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="text-center">Id</th>
                  <th scope="col" class="text-center">Image</th>
                  <th scope="col" class="text-center">Product Name</th>
                  <th scope="col" class="text-center">Category</th>
                  <th scope="col" class="text-center">Price</th>
                  <th scope="col" class="text-center">Discount</th>
                  <th scope="col" class="text-center">New Price</th>
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Stock</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="p,c:${products}">
                  <th scope="row" class="text-center">[[${c.count}]]</th>
                  <td class="text-center">
                    <img
                      th:src="${p.image}"
                      alt=""
                      width="60px"
                      height="50px"
                    />
                  </td>
                  <td class="text-center">[[${p.name}]]</td>
                  <td class="text-center">[[${p.category}]]</td>
                  <td class="text-center">[[${p.price}]]</td>
                  <td class="text-center">[[${p.discount}]]</td>
                  <td class="text-center">[[${p.discountPrice}]]</td>
                  <td class="text-center">[[${p.isActive}]]</td>
                  <td class="text-center">[[${p.stock}]]</td>
                  <td class="text-center">
                    <a
                      th:href="@{'/admin/editProduct/'+${p.id}}"
                      class="btn btn-sm btn-success"
                      ><i class="fa-solid fa-pen-to-square text-light"></i>
                      Edit</a
                    >
                    <a
                      th:href="@{'/admin/deleteProduct/'+${p.id}}"
                      class="btn btn-sm btn-danger"
                      ><i class="fa-solid fa-trash text-light"></i> Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row mt-1">
              <div class="col-md-4">Total Products : [[${totalElements}]]</div>
              <div class="col-md-6 offset-md-1">
                
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" th:classappend="${isFirst}?'disabled':''" th:href="@{'/admin/viewProducts?pageNo='+${pageNo-1}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${pageNo+1==i}?'active':''">
                        <a class="page-link" th:href="@{'/admin/viewProducts?pageNo='+${i-1}}">[[${i}]]</a></li>
                      
                      <li class="page-item">
                        <a class="page-link" th:classappend="${isLast}?'disabled':''" th:href="@{'/admin/viewProducts?pageNo='+${pageNo+1}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                
                
              </div>
               
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
