<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <section>
      <div class="container-fluid p-5 mt-5">
        <div class="card card-sh1">
          <div class="card-header text-center">
            <div class="d-flex justify-content-left">
              <div>
                <a href="/admin/" class="btn btn-primary text-center mt-2 mb-1"
                  >DashBoard</a
                >
                <a
                  href="/admin/addProduct"
                  class="btn btn-success text-center ms-1 mt-2 mb-1"
                  >Add Product</a
                >
              </div>
              <p
                class="fs-2 mb-0 mx-auto position-absolute start-50 translate-middle-x"
              >
                Products
              </p>
            </div>

            <!-- Success Message -->
            <th:block th:if="${session.successMsg}">
              <p class="text-danger fw-bold">[[${session.successMsg}]]</p>
              <th:block
                th:text="${@commonServiceIMPL.removeSessionMessage()}"
              ></th:block>
            </th:block>

            <!-- Error Message -->
            <th:block th:if="${session.errorMsg}">
              <p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
              <th:block
                th:text="${@commonServiceIMPL.removeSessionMessage()}"
              ></th:block>
            </th:block>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Id</th>
                  <th scope="col" class="text-center">Image</th>
                  <th scope="col" class="text-center">Product Name</th>
                  <th scope="col" class="text-center">Category</th>
                  <th scope="col" class="text-center">Price</th>
                  <th scope="col" class="text-center">Stock</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="p,c:${products}">
                  <th scope="row" class="text-center">[[${c.count}]]</th>
                  <td class="text-center">
                    <img
                      th:src="@{'/images/product/'+${p.image}}"
                      alt=""
                      width="60px"
                      height="50px"
                    />
                  </td>
                  <td class="text-center">[[${p.name}]]</td>
                  <td class="text-center">[[${p.category}]]</td>
                  <td class="text-center">[[${p.price}]]</td>
                  <td class="text-center">[[${p.stock}]]</td>
                  <td class="text-center">
                    <a
                      th:href="@{'/admin/editProduct/'+${p.id}}"
                      class="btn btn-sm btn-success"
                      ><i class="fa-solid fa-pen-to-square text-light"></i>
                      Edit</a
                    >
                    <a
                      th:href="@{'/admin/deleteProduct/'+${p.id}}"
                      class="btn btn-sm btn-danger"
                      ><i class="fa-solid fa-trash text-light"></i> Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
