<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <section>
      <div class="conatiner mt-5 p-5 bg-light">
       
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card card-sh1">
                    <div class="card-body">
                        <h2 class="text-center mb-3 mt-2">My Profile</h2>
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success text-center fw-bold">[[${session.successMsg}]]</p>
                            <th:block
                              th:text="${@commonServiceIMPL.removeSessionMessage()}"
                            ></th:block>
                          </th:block>
          
                          <!-- Error Message -->
                          <th:block th:if="${session.errorMsg}">
                            <p
                              class="text-danger text-center fw-bold"
                              th:text="${session.errorMsg}"
                            ></p>
                            <th:block
                              th:text="${@commonServiceIMPL.removeSessionMessage()}"
                            ></th:block>
                          </th:block>
                          <hr class="hw-bold">
                        <div class="text-center">
                            <p class="fs-1 mt-4 mb-4">
                                <i class="fa-regular fa-user fa mb-2" 
                                   style="border-radius: 50%; 
                                          border: 3px solid #000; 
                                          padding: 10px; 
                                          background-color: #f0f0f0; 
                                          display: inline-block; 
                                          width: 100px; 
                                          height: 100px; 
                                          line-height: 80px; 
                                          text-align: center; 
                                          font-size: 60px;"></i>
                            </p>

                            <div class="col-md-6 offset-md-4">

                                <table class="table table-borderless">
                                
                                    <tbody>
                                        <form action="/user/updateProfile" method="post">
                                      <tr>
                                        <th scope="row">Name</th>
                                        
                                        <td><input type="text" name="name" class="form-control" th:value="${user.name}"/></td>
                                        
                                      </tr>

                                      <tr>
                                        <th scope="row">Mobile Number</th>
                                        <td><input type="text" name="mobileNumber" class="form-control" th:value="${user.mobileNumber}"/></td>
                                      </td>

                                      <tr>
                                        <th scope="row">Email</th>
                                        <td><input type="text" name="" class="form-control" readonly th:value="${user.email}"/></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">Address</th>
                                        <td><input type="text" name="address" class="form-control" th:value="${user.address}"/></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">City</th>
                                        <td><input type="text" name="city" class="form-control" th:value="${user.city}"/></td>
                                      </tr>

                                      <tr>
                                        <th scope="row">State</th>
                                        <td><input type="text" name="state" class="form-control" th:value="${user.state}"/></td>
                                      </tr> 
                                      <tr>
                                        <th scope="row">Pincode</th>
                                        <td><input type="text" name="pincode" class="form-control" th:value="${user.pincode}"/></td>
                                      </tr> 
                                      <tr>
                                        <th scope="row">Role</th>
                                        <td><input type="text" class="form-control" readonly th:value="${user.role}"/></td>
                                      </tr> 
                                      <tr>
                                        <th scope="row">Account Status</th>
                                        <td><input type="text" class="form-control" readonly th:value="${user.isEnabled}"/></td>
                                        <input type="hidden" th:value="${user.id}" name="id">  
                                    </tr> 
                                      
                                     


                                      
                                    <tr class="ms-5">
                                        
                                        <td>
                                        <div class="d-flex justify-content-center  ms-5">
                                            
                                            <button class="btn btn-primary text-center text-light fs-5">
                                              Update
                                            </button>
                                          </div></td>

                                    </tr>
                                        
                                    </form>
                                      
                                     
                                    </tbody>
                                  </table>
                            </div>
    
                            
                        </div>
                        <hr>
                        <div class="col-md-10 offset-md-1 mt-1">
                            <div class="row">
                                <p class="text-center fs-3">Change Password</p>
                                <div class="col-md-6 offset-md-4">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <form action="/user/changePassword" method="post">
                                                <tr>
                                                    <th scope="row">Current Password</th>
                                                    <td><input type="password" name="curPassword" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">New Password</th>
                                                    <td><input type="password" name="newPassword" class="form-control"></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Confirm Password</th>
                                                    <td><input type="password" name="confirmPassword" class="form-control"></td>
                                                </tr>
                                                <tr>
                                        
                                                    <td>
                                                    <div class="d-flex justify-content-right  ms-5">
                                                        
                                                        <button class="btn btn-primary text-center text-light fs-5">
                                                          Update
                                                        </button>
                                                      </div></td>
            
                                                </tr>
                                            </form>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
            </div>
                
        </div>
      </div>
    </section>
  </body>
</html>
