<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="p-5">
      <div
        class="container card-sh1"
        style="margin-top: 90px; margin-bottom: 150px"
      >
        <div class="col-md-12">
          <div class="row">
            <th:block th:if="${session.successMsg}">
                  <p
                    class="text-center mt-3 fs-3 text-success fw-bold alert alert-success w-1/2" role="alert"
                    th:text="${session.successMsg}"
                  ></p>
                  <th:block
                    th:text="${@commonServiceIMPL.removeSessionMessage()}"
                  ></th:block>
                  
                    
                  
                </th:block>
              <th:block th:if="${session.errorMsg}">
                  <!-- <p
                    class="text-center mt-5 fs-3 text-danger fw-bold"
                    th:text="${session.errorMsg}"
                  ></p>
                  <th:block
                    th:text="${@commonServiceIMPL.removeSessionMessage()}"
                  ></th:block> -->
                  <!-- <div class="toast-container position-static">
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto">Bootstrap</strong>
                        <small class="text-body-secondary">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div class="toast-body">
                        [[${session.errorMsg}]]
                      </div>
                      <th:block
                    th:text="${@commonServiceIMPL.removeSessionMessage()}"
                  ></th:block> 
                    </div> -->

                    <p
                    class="text-center mt-3 fs-3 text-danger fw-bold alert alert-danger w-1/2" role="alert"
                    th:text="${session.errorMsg}"
                  ></p>
                  <th:block
                    th:text="${@commonServiceIMPL.removeSessionMessage()}"
                  ></th:block>
              </th:block>
            <div class="col-md-6 mt-5">
              <img
                th:src="${product.image}"
                alt="productImage"
                width="100%"
                height="350px"
              />
            </div>
            <div class="col-md-4 mt-5 ms-5 mb-5">
              <p class="fs-4">[[${product.name}]]</p>
              <p>
                <span class="fw-bold">Description</span
                ><br />[[${product.description}]]
              </p>
              <p>
                <span class="fw-bold">Product Details: </span><br />Status:
                <th:block th:if="${product.stock>0}">
                  <span class="badge bg-success"> In Stock </span>
                </th:block>
                <th:block th:unless="${product.stock>0}">
                  <span class="badge bg-warning">Out of stock</span>
                </th:block>
                <br />
                Category: [[${product.category}]]

                <br />
                7 days replacement & return policy
              </p>
              <p class="fs-5 fw-bold">
                Price:&nbsp;&nbsp;&#8377; [[${product.discountPrice}]]
                <span class="fs-6 text-decoration-line-through text-secondary"
                  >&nbsp;[[${product.price}]]&nbsp;
                </span>
                <span class="fs-6 text-success"
                  >[[${product.discount}]]%off</span
                >
              </p>
              <div class="row">
                <div class="col-md-4 text-center p-2">
                  <i class="fa-solid fa-money-bill"></i>
                  <p>Cash on Delivery</p>
                </div>
                <div class="col-md-4 text-center p-2">
                  <i class="fas fa-undo-alt fa-1x"></i>
                  <p>Return available</p>
                </div>
                <div class="col-md-4 text-center p-2">
                  <i class="fa-solid fa-truck-fast"></i>
                  <p>Free Shipping</p>
                </div>
              </div>

              <th:block th:if="${product.stock>0}">
                <th:block th:if="${user==null }">
                  <a href="/signin" class="btn btn-success col-md-4">Add To Cart</a>
                </th:block>
                <th:block th:unless="${user==null }">
                  <a th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}" class="btn btn-success col-md-4">Add To Cart</a>
                </th:block>
               
              </th:block>
              <th:block th:unless="${product.stock>0}"
                ><a href="" class="btn btn-danger col-md-4"
                  >Out of Stock</a
                ></th:block
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
