<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::Layout(~{::section})}"
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <section>
      <!-- Start slider -->
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/carousel/imag4.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
          <div class="carousel-item">
            <img src="images/carousel/image1.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
          <div class="carousel-item">
            <img src="images/carousel/image3.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
          <div class="carousel-item">
            <img src="images/carousel/image2.jpg" class="d-block w-100" alt="..." height="350px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- End slider -->

      <!-- Category Module Start -->

      <div class="container">
        <div class="row">
          <p class="text-center fs-4 mt-2">Category</p>
          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/electronics.jpg" alt="category" width="100%" height="140px"/>
                <p>Electronics</p>
                
              </div>
              
            </div>
          </div>

          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/laptop.jpg" alt="category" width="65%" height="140px"/>
                <p>Laptops</p>
                
              </div>
              
            </div>
          </div>

          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/mobile.webp" alt="category" width="65%" height="140px"/>
                <p>Mobiles</p>
                
              </div>
              
            </div>
          </div>

          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/grocery.jpg" alt="category" width="55%" height="140px"/>
                <p>Groceries</p>
                
              </div>
              
            </div>
          </div>
          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/clothes.jpg" alt="category" width="65%" height="140px"/>
                <p>Apparels</p>
                
              </div>
              
            </div>
          </div>

          <div class="col-md-2">
            <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body text-center">
                <img src="images/category/beauty.jpg" alt="category" width="65%" height="140px"/>
                <p>Beauty</p>
                
              </div>
              
            </div>
          </div>

         

          
        </div>
      </div>

      <!-- Category Module End -->

      <!-- Latest Product module -->
        <div class="container-fluid bg-light p-3">
          <div class="row">
            <p class="text-center fs-4">Latest Products</p>
            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="images/latest/laptop.jpg" alt="" class="" width="65%" height="140px">
                  <p class="text-center">HP Laptop</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      <!-- Latest Product module ends -->
    </section>
   
  </body>
</html>
