<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <section>
      <div class="conatiner mt-5 p-5">
        <div class="row">
          <div class="col-md-6 p-5 text-center offset-md-3">
            <h3>Password changed successfully! </h3>
            <h3>Please LogIn</h3>
            <a href="/signin">Login</a>
         </div>
        </div>
      </div>
    </section>
  </body>
</html>
