<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="container-fluid bg-tertiary p-5 mt-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form action="/search" mrthod="get">
              <div class="input-group">
                <input type="text" class="form-control" name="ch" />
                <button class="btn btn-success text-light col-md-2">
                  <i class="fa-solid fa-magnifying-glass"> </i>
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-1">
        <div class="row">
          <div class="col-md-2">
            <div class="list-group">
              <p class="fs-4 text-center">Categories</p>
              <a
                href="/products"
                class="list-group-item list-group-item-action bg-body-tertiary fs-5"
                aria-current="true"
              >
                All Categories
              </a>
              <a
                th:href="@{'/products?category='+${c.name}}"
                th:each="c:${categories}"
                th:classappend="${paramValue==c.name}?'active'"
                class="list-group-item list-group-item-action"
                >[[${c.name}]]</a
              >
            </div>
          </div>
          <div class="col-md-10">
            <div class="card">
              <div class="card-body">
                <p class="fs-3 text-center"></p>
                <th:block th:if="${session.errorMsg}">
                  <p
                    class="text-center mt-5 fs-3 text-danger fw-bold"
                    th:text="${session.errorMsg}"
                  ></p>
                  <th:block
                    th:text="${@commonServiceIMPL.removeSessionMessage()}"
                  ></th:block>
                </th:block>

                <div class="row">
                  <div class="col-md-3 mb-3" th:each="p:${products}">
                    <a
                      th:href="@{'/product/'+${p.id}}"
                      class=""
                      style="text-decoration: none"
                    >
                      <div class="card card-sh1">
                        <div class="card-body text-center">
                          <img
                            th:src="${p.image}"
                            alt="productImage"
                            width="100%"
                            height="150px"
                          />
                          <p class="fs-5 text-center mt-3">[[${p.name}]]</p>
                          <div
                            class="row text-center"
                            style="margin-top: -10px"
                          >
                            <p class="fs-6 fw-bold">
                              &#8377; [[${p.discountPrice}]]
                            </p>
                            <p class="text-center" style="margin-top: -16px">
                              <span class="text-decoration-line-through">
                                &#8377; [[${p.price}]]</span
                              >
                              <span class="fs-6 text-success ms-3">
                                [[${p.discount}]]% off</span
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
             <!-- start pagination -->
            <div class="row mt-1">
              <div class="col-md-4">Products([[${totalElements}]])</div>
              <div class="col-md-6 offset-md-1">
                <th:block th:if="${productSize>0}">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" th:classappend="${isFirst}?'disabled':''" th:href="@{'/products?pageNo='+${pageNo-1}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${pageNo+1==i}?'active':''">
                        <a class="page-link" th:href="@{'/products?pageNo='+${i-1}}">[[${i}]]</a></li>
                      
                      <li class="page-item">
                        <a class="page-link" th:classappend="${isLast}?'disabled':''" th:href="@{'/products?pageNo='+${pageNo+1}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </th:block>
                
              </div>
               
            </div>
          </div>

         

          
           
         

          
          

          
        
      </div>
    </section>
  </body>
</html>
