<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::Layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="container-fluid bg-tertiary p-5 mt-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form action="">
              <div class="input-group">
                <input type="text" class="form-control" name="ch" />
                <button class="btn btn-success text-light col-md-2">
                  <i class="fa-solid fa-magnifying-glass"> </i>
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container-fluid mt-1">
        <div class="row">
          <div class="col-md-2">
            <div class="list-group">
              <a
                href="#"
                class="list-group-item list-group-item-action bg-body-tertiary fs-5 text-center"
                aria-current="true"
              >
                Categories
              </a>
              <a href="#" class="list-group-item list-group-item-action"
                >Electronics</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Mobiles</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Clothes</a
              >
            </div>
          </div>
          <div class="col-md-10">
            <div class="card">
              <div class="card-body">
                <p class="fs-3 text-center">Products</p>

                <div class="row">
                  <div class="col-md-3 mb-3">
                    <div class="card card-sh1">
                      <div class="card-body text-center">
                        <img
                          src="images/macbook.jpg"
                          alt="productImage"
                          width="100%"
                          height="150px"
                        />
                        <p class="fs-5 text-center mt-2">Laptop</p>
                        <div class="row text-center">
                          <p class="fs-6 fw-bold">
                            &#8377; 500
                            <span class="fs-6 text-success">20% off</span>
                          </p>
                          <a
                            href="/buy"
                            class="btn btn-success col-md-6 offset-md-3"
                          >
                            Buy
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- to remove -->

                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body text-center">
                        <img
                          src="images/macbook.jpg"
                          alt="productImage"
                          width="100%"
                          height="150px"
                        />
                        <p class="fs-5 text-center">Laptop</p>
                        <div class="row text-center">
                          <p class="fs-6 fw-bold">
                            &#8377; 500
                            <span class="fs-6 text-success">20% off</span>
                          </p>
                          <button class="btn btn-success col-md-6 offset-md-3">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body text-center">
                        <img
                          src="images/macbook.jpg"
                          alt="productImage"
                          width="100%"
                          height="150px"
                        />
                        <p class="fs-5 text-center mt-1">Laptop</p>
                        <div class="row text-center">
                          <p class="fs-6 fw-bold">
                            &#8377; 500
                            <span class="fs-6 text-success">20% off</span>
                          </p>
                          <button class="btn btn-success col-md-6 offset-md-3">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body text-center">
                        <img
                          src="images/latest/laptop.jpg"
                          alt="productImage"
                          width="100%"
                          height="150px"
                        />
                        <p class="fs-5 text-center">Laptop</p>
                        <div class="row text-center">
                          <p class="fs-6 fw-bold">
                            &#8377; 500
                            <span class="fs-6 text-success">20% off</span>
                          </p>
                          <button class="btn btn-success col-md-6 offset-md-3">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body text-center">
                        <img
                          src="images/latest/laptop.jpg"
                          alt="productImage"
                          width="100%"
                          height="150px"
                        />
                        <p class="fs-5 text-center">Laptop</p>
                        <div class="row text-center">
                          <p class="fs-6 fw-bold">
                            &#8377; 500
                            <span class="fs-6 text-success">20% off</span>
                          </p>
                          <button class="btn btn-success col-md-6 offset-md-3">
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- till here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
